# dotenv files
/.env
/.env.*.local
/.env.local*

# PHP errors
php_errors.log

# Cache, session files and logs (Symfony3)
/var

# Managed by Composer
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor

# Assets and user uploads
/public/bundles/
/public/uploads/

# PHPUnit
/phpunit.xml

# htpasswd
.htpasswd

# IDE files: PhpStorm
/.idea/*
!/.idea/codeStyles